# DATA TYPES AND STRUCTURES ASSIGNMENT

1. **What are data structures, and why are they important?**

Data structures are a way of organizing and storing data in a computer so that it can be accessed and used efficiently. They are important because they provide a means to manage large amounts of data, enabling efficient operations like searching, inserting, and deleting data, which is crucial for creating effective and optimized software.

2. **Explain the difference between mutable and immutable data types with examples?**

Mutable data types are those whose state or contents can be changed after they are created. An example is a list in Python. You can add, remove, or change elements within a list.

**my_list = [1, 2, 3]**

Immutable data types are those that cannot be changed after they are created. If you need to alter an immutable object, you must create a new object.Examples include strings and tuples.

**my_string = "hello"**

3.  **What are the main differences between lists and tuples in Python?**

The main differences between lists and tuples are:

Mutability: Lists are mutable, meaning their elements can be changed. Tuples are immutable, meaning their elements cannot be changed after creation.

Syntax: Lists are created with square brackets [], while tuples use parentheses ().

Performance: Tuples can be slightly faster than lists for iteration because their contents are fixed.

Use Case: Lists are used for collections of items that may need to change, while tuples are used for collections of items that should remain constant.

4.  **Describe how dictionaries store data?**

Dictionaries store data as key-value pairs. Each unique key is mapped to a value. This structure allows for fast data retrieval because the dictionary uses the key to directly calculate the location of the associated value, a process known as hashing.

5. **Why might you use a set instead of a list in Python?**

You would use a set instead of a list primarily for two reasons:

Uniqueness: Sets automatically enforce that all elements are unique. If you add a duplicate item to a set, it will be ignored.

Membership Testing: Checking if an element exists in a set is significantly faster on average than checking for its existence in a list, especially for large collections of data.

6. **What is a string in Python, and how is it different from a list?**

A string is a sequence of characters used to represent text. The main difference between a string and a list is that strings are immutable, whereas lists are mutable. You cannot change an individual character in a string; you have to create a new string.

7. **How do tuples ensure data integrity in Python?**

Tuples ensure data integrity because they are immutable. Once a tuple is created, its contents cannot be altered, preventing accidental or unauthorized modification of the data it holds. This makes them reliable for storing data that should not change.

8.  **What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a data structure that stores data by associating keys with values. It uses a special function, called a hash function, to calculate an index into an array where the value can be stored and later found. This mechanism allows for extremely fast data lookups.

Dictionaries are implemented using hash tables. When you want to retrieve a value from a dictionary, Python applies the hash function to the key you provide. This immediately tells Python where the corresponding value is located, eliminating the need to search through the entire collection. This direct lookup is why accessing, inserting, or deleting items in a dictionary is so efficient.

9.  **Can lists contain different data types in Python?**

Yes, lists in Python are heterogeneous, meaning they can contain elements of different data types within the same list. For example, a single list can hold integers, strings, and even other lists.

10.  **Explain why strings are immutable in Python?**

Strings are immutable in Python for a few key reasons:

Hashing: Because they are immutable, strings can be used as keys in dictionaries, as their hash value will never change.

Security: Immutability ensures that a string value remains constant, which can be important for things like file paths or credentials.

Performance: When you create a new string that is a modification of an existing one, Python can optimize memory usage by reusing parts of the original string.

11. **What advantages do dictionaries offer over lists for certain tasks?**

For tasks that involve looking up values based on a specific identifier, dictionaries have a significant advantage over lists. Accessing an element in a dictionary by its key is much faster than searching for an element in a list, especially for large datasets.

12. **Describe a scenario where using a tuple would be preferable over a list?**

A tuple would be preferable when you want to return multiple, distinct values from a function. For example, a function that looks up a user's information might return their name, age, and city as a tuple ('Alice', 30, 'New York'). This ensures the returned data structure is not accidentally modified.

13. **How do sets handle duplicate values in Python?**

Sets automatically handle duplicates by only storing one instance of each unique value. If you attempt to add an element that is already in the set, the set remains unchanged.

14. **How does the “in” keyword work differently for lists and dictionaries?**

For a list, the in keyword checks if a specific element is present in the list.

For a dictionary, the in keyword checks if a specific key is present in the dictionary. It does not check the values.

15. **Can you modify the elements of a tuple? Explain why or why not?**

No, you cannot modify the elements of a tuple. This is because tuples are an immutable data type. If you need to change the data, you must create a new tuple.

16.  **What is a nested dictionary, and give an example of its use case?**

A nested dictionary is a dictionary where the values are themselves dictionaries. This is useful for representing more complex, structured data.

Use Case: Storing employee records, where each employee is a key, and their value is another dictionary containing details like their ID, department, and salary.

employees = {
    'JohnDoe': {'ID': 'E123', 'Department': 'Sales'},
    'JaneSmith': {'ID': 'E456', 'Department': 'Marketing'}
}

17.  **Describe the time complexity of accessing elements in a dictionary?**

The time complexity of accessing an element in a dictionary is, on average, O(1), or constant time. This is because dictionaries use a hash table, which allows for direct computation of the element's location based on its key. In the worst-case scenario (due to hash collisions), it can be O(n).

18. **In what situations are lists preferred over dictionaries?**

Lists are preferred over dictionaries when:

The order of the elements is important.

You need to store a collection of items that do not have a unique identifier or key.

You will primarily be accessing elements by their numerical index.

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

Historically, dictionaries in Python (before version 3.7) were unordered, meaning the order of key-value pairs was not guaranteed. However, in modern Python (3.7+), dictionaries do maintain insertion order. Despite this, data retrieval is not affected because you always access elements by their key, not by their position or index. The primary retrieval method remains key-based.

20.  **Explain the difference between a list and a dictionary in terms of data retrieval?**

List: Data is retrieved by its numerical index (position) in the sequence. For example, my_list[0] retrieves the first element.

Dictionary: Data is retrieved by its key. For example, my_dict['name'] retrieves the value associated with the key 'name'.

# PRACTICAL QUESTIONS

1. **Write a code to create a string with your name and print it?**

In [1]:
my_name = "vaibhav"
print(my_name)

vaibhav

2.  **Write a code to find the length of the string "Hello World"?**

In [2]:
print(len("Hello World"))

11

3.  **Write a code to slice the first 3 characters from the string "Python Programming"?**

In [3]:
my_string = "Python Programming"
print(my_string[0:3])

Pyt

4.  **Write a code to convert the string "hello" to uppercase?**

In [4]:
print("hello".upper())

HELLO

5. **Write a code to replace the word "apple" with "orange" in the string "I like apple"?**

In [5]:
my_string = "I like apple"
print(my_string.replace("apple", "orange"))

I like orange

6. **Write a code to create a list with numbers 1 to 5 and print it?**

In [11]:
num_list = [1,2,3,4,5]
print(num_list)

[1, 2, 3, 4, 5]

7. **Write a code to append the number 10 to the list [1, 2, 3, 4] ?**

In [12]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.  **Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?**

In [13]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. **Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?**

In [14]:
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

10.  **Write a code to reverse the list [10, 20, 30, 40, 50] ?**

In [15]:
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

11. **Write a code to create a tuple with the elements 100, 200, 300 and print it ?**

In [16]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.  **Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?**

In [17]:
color_tuple = ('red', 'green', 'blue', 'yellow')
print(color_tuple[-2])

blue

13.  **Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [18]:
num_tuple = (10, 20, 5, 15)
print(min(num_tuple))

5

14.  **Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [19]:
animal_tuple = ('dog', 'cat', 'rabbit')
print(animal_tuple.index('cat'))

1

15.  **Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [20]:
fruit_tuple = ('apple', 'banana', 'orange')
print(f"Is 'kiwi' in the tuple? {'kiwi' in fruit_tuple}")

Is 'kiwi' in the tuple? False

16.  **Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [21]:
char_set = {'a', 'b', 'c'}
print(char_set)

{'c', 'a', 'b'}

17.  **Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [22]:
num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

18. **Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [23]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  **Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [25]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1|set2)

{1, 2, 3, 4, 5}

20. **Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [26]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

21.  **Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [27]:
my_dict = {"name": "John", "age": 25, "city": "Anytown"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'Anytown'}

22. **Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [28]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. **Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [29]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

24. **Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [30]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. **Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [31]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print(f"Is 'city' a key in the dictionary? {'city' in my_dict}")

Is 'city' a key in the dictionary? True

26. **Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [32]:
my_list = [1, 'a', True]
my_tuple = (2, 'b', False)
my_dict = {'key1': 1, 'key2': 'c'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 'a', True]
Tuple: (2, 'b', False)
Dictionary: {'key1': 1, 'key2': 'c'}

27. **Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [38]:
import random
random_numbers = [random.randint(1, 100) for random_numbers in range(5)]
random_numbers.sort()
print(random_numbers)

[17, 35, 38, 45, 73]

28. **Write a code to create a list with strings and print the element at the third index.**

In [39]:
str_list = ["first", "second", "third", "fourth"]
print(str_list[3])

fourth

29. **Write a code to combine two dictionaries into one and print the result.**

In [47]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. **Write a code to convert a list of strings into a set.**

In [48]:
string_list = ["apple", "banana", "apple", "orange"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'orange'}